.e1 {
  border-right: solid 4px black;
  padding-right: 6px;
}
.e2 {
  border-right: solid 4px black;
  padding-right: 6px;
}

.e3 {
  border-right: solid 4px black;
  padding-right: 6px;
}

.e4 {
  border-right: solid 4px black;
  padding-right: 6px;
}
.e5 {
  border-right: solid 4px black;
  padding-right: 6px;
}
